<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">

          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>

    <div>
      <h3>Write A Review</h3>
      <dl class="dl-horizontal">
        <%= form_for ([@product, @review]) do |f| %>
          <p><%= f.text_area :description %></p>
      </dl>
      <%= f.select :rating, [['good', 5], ['pretty good', 4], ['not bad', 3], ['poor', 2], ['crap', 1]] %>
        <%= f.submit "Submit!" %>
        <% end %>
    </div>

    <div class="row">
      <h5>Review Section</h5>
      <dl class="dl-horizontal">
        <%= render partial: 'review', collection: @product.reviews %>
      </dl>
    </div>







  </article>

</section>
